@model PagedList.IPagedList<ShareWeb.Models.ShareModel>
@{
    ViewBag.Title = " <span style='color: red'>"+ViewBag.SearchStr+"</span> 的搜索结果";
}

@section SearchAndDetail{
    <li>
        <a href="/ShowShare/SearchList" onclick="return false">搜索结果</a>
    </li>
}

<div class="row">
    <div class="col-lg-8">
        <div class="row">
            @Html.Partial("_PartialShareList", Model)
        </div>
        <!-- /.row -->
    </div>

    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-paperclip fa-fw"></i> 温馨提示
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                很多模板可能并没有开源，请注意版权问题！
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->
</div>
